body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    color: #20a8b4;
    padding: 10px;
}

span {
    color: #ff5c0f;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    list-style-type: none;
}

#nav1 li {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.button a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    position: relative;
}

#button a {
    background: #20a8b4;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button a:hover {
    background: #ff5c0f
}

#nav1 a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    padding: 1px;
    float: right;
    width: 100%;
    position: relative;
    transform: translateY(-50%, -50%);
}

#nav1 a:hover {
    color: #ff5c0f
}

.body-text {
    margin: 10px;
    float: left;
}

p {
    margin: 10px;
}

h3 {
    margin: 10px;
}

img {
    float: right;
    width: 400px;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        position: relative;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        position: relative;
    }

    #button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        text-align: left;
    }

    img {
        display: none;
    }
}